<!--
  Generated template for the TrainerListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"trainerList" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
   <ion-grid>
     <ion-row>
      
        <strong>Exams: {{totalItems}}</strong>
      
     </ion-row>
   </ion-grid>
    



   <ion-list>
    <ion-item-sliding *ngFor="let item of itemScroll; let i=index" #itemSlide>
      <ion-item>
        
        <!-- <ion-label>{{item.value.title}}</ion-label> -->
        <ion-label>
          {{item.value.title}}
          <p> <ion-icon ios="ios-eye" md="md-eye"> {{item.score}} user(s) joined </ion-icon> </p>
        </ion-label>
        <ion-checkbox type="checkbox" *ngIf="checkboxShow" [checked]="item.key"  ngModel outline></ion-checkbox>

       

      </ion-item>
      

      <ion-item-options side="left">
        <button ion-button (click)="deleteOnly(item.key, i)" color="danger"> <ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
      </ion-item-options>
  
      <ion-item-options side="right">
        <button ion-button (click)="edit(item.key)">
            <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
            Edit
          </button>


        <button ion-button (click)="viewResult(item.key)">
          <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
          View result
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

      <button ion-button icon-only (click)="ExamCreate()" class="btn-plus">
        <ion-icon name="add-circle"></ion-icon>
      </button>
</ion-content>
