<!--
  Generated template for the ViewResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>User joined/invited:  {{userJoin}}/ {{userInvited}}</h3>
  <ion-grid>
      <ion-row class="header">
        <ion-col col-4>
          User
        </ion-col>
        <ion-col>
          Status
        </ion-col>
        <ion-col>
          Score
        </ion-col>
        <ion-col>
          Expect
        </ion-col>
        <ion-col>
            Result
          </ion-col>
      </ion-row>

      <ion-row *ngFor="let u of itemUserStatus" [ngClass]="{'row-pass': u.setColorPass, 'row-fail': !u.setColorPass}">
          <ion-col col-4 class="fullname">
            {{u.fullname}}
          </ion-col>
          <ion-col class="status">
            {{u.status}}
          </ion-col>
          <ion-col class="percent">
           {{u.percent}}%
          </ion-col>
          <ion-col class="passScore">
           {{passScore}}%
          </ion-col>
          <ion-col class="pass">
           {{u.pass}}
          </ion-col>
        </ion-row>
        
    </ion-grid>
 
 
</ion-content>
