page-view-result {

}
ion-content {
    h3 {
        
        font-weight: 400;
        color: darkblue
    }
 
    .header {
        text-align: left;
        color: darkblue;
        font-weight: 200;
        font-size: 15px;
    }


    .row-pass {
        background-color: #d6f9cc
    }
    .row-fail {
        background-color: #f9e3e3;
    }
}


