page-trainer-create-exam {

}

.userInviteBox {
    .usertags {
        width: 100%;
        min-height: 20px;
        ul {
            padding: 0;
            margin: 0
        }
        ul li {
            list-style: none;
            float: left;
            margin-right: 20px;
            border: solid 1px gray;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 20px;
            padding: 0 9px;
            margin: 4px 0;
            

            span {
                font-weight: bold;
                font-size: 12px;
                margin-left: 5px;
                border: solid .5px gray;
                border-radius: 50%;
                padding: 4px;
            }
            span:hover {
                cursor: pointer;
                color: #9494f8;
            }
        }
        ul li:first-child() {
            margin-right: 0;
        }

    }
    .search {
        width: 100%;
        min-height: 150px;
        margin: 20px 0;
        clear: both;

        .list {
            height: 150px;
            overflow: scroll;
            margin: 0;
            padding: 0;

            ion-item {
                margin-left: 7px;
                padding: 0
            }
        }
    }
}
.btnOptionExam {
    .addBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}