<!--
  Generated template for the TrainerCreateExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"trainerCreateExam" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <form #form="ngForm" (ngSubmit)="createForm(form)">
    <div class="header-form">
        <ion-item>
            <ion-label fixed>Tittle</ion-label>
            <ion-input type="text" name="title" required ngModel #title="ngModel"></ion-input>
            
        </ion-item>


        <div *ngIf="title.invalid && title.touched" class="alert alert-danger">
            Required *
        </div>
        



        <ion-item>
            <ion-label>Settime</ion-label>
            <ion-select name="settime" #settime="ngModel" required ngModel>
              <ion-option value="timeTotal">Total time</ion-option>
              <ion-option value="timeEach">Timer each question</ion-option>
            </ion-select>
        </ion-item>

        <div *ngIf="settime.invalid && settime.touched" class="alert alert-danger">
                Required
        </div>

        <ion-item *ngIf="settime.value == 'timeTotal'">
            <ion-label fixed>Total time</ion-label>
            <ion-input type="number" name="totalTime" #totalTime="ngModel" required ngModel placeholder="Unit as minutes (m)"></ion-input>
        </ion-item>
        

        <ion-item>
            <ion-label fixed>Pass score</ion-label>
            <ion-input type="number" name="passScore" #passScore="ngModel" required ngModel placeholder="Unit as percent (%)"></ion-input>
        </ion-item>
        <div *ngIf="passScore.invalid && passScore.touched" class="alert alert-danger">
            Required
        </div>

     
    </div>

    <h4>Questions:</h4>

    

    <div class="question-form" *ngFor="let c of counter; let i = index">
        
        <button ion-button small color="dark" (click)="removeQuestion(i)"> <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon></button>
        
        <div class="question-wrapp">
          <ion-item>
              <ion-label>Question {{i+1}}:</ion-label>
              <ion-input type="text" value="" name="questionText_{{i}}" required ngModel #questionText_i="ngModel"></ion-input>
              
              
          </ion-item>

          <input type="file" accept="image/*" value="" (change)="someChange(i)" id="questionImg_{{i}}" name="questionImg_{{i}}"  ngModel #questionImg_i="ngModel">
          <div class="img-viewer" padding>
            <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
          </div>
      
                  
          

          <div *ngIf="questionText_i.invalid && questionText_i.touched" class="alert alert-danger">
                Required
          </div>
        </div>
        <!-- question-wrapp -->

        
        <div class="answer-wrapp">

            <ion-grid>
                <ion-row >
                    <ion-col><strong>Answers type</strong></ion-col>
                    <ion-col col-6>
                        Radio <input type="radio" value="radio" name="answerType_{{i}}" #answerType_i="ngModel" ngModel required>

                        Checkbox <input type="radio" value="checkbox" name="answerType_{{i}}" #answerType_i="ngModel" ngModel required>
                        <div *ngIf="answerType_i.invalid && answerType_i.touched" class="alert alert-danger">
                                Required
                          </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

              <ion-item  *ngIf="settime.value == 'timeEach'">
                  <ion-label fixed>Time</ion-label>
                  <ion-input type="number" name="answerSetTime_{{i}}" #answerSetTime_i="ngModel" ngModel required value="" placeholder="Unit as second (s)"></ion-input>
                  <span *ngIf="answerSetTime_i.invalid && answerSetTime_i.touched" class="alert alert-danger">
                        Required
                  </span>
                </ion-item>



            <ion-grid>
                <ion-row >
                    <ion-col col-6>Answers</ion-col>
                    <ion-col>Correct-Incorrect</ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row *ngFor="let a of counterAnswer[i]; let j = index">
                    <ion-col col-6>
                        <ion-input type="text" name="answerText_{{i}}_{{j}}" #answerText_i_j="ngModel" ngModel required value="" placeholder="Text..."></ion-input>
                        
                            <div *ngIf="answerText_i_j.invalid && answerText_i_j.touched" class="alert alert-danger">
                                    Required
                            </div>
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-col><input type="radio"  value="true"  name="answerValid_{{i}}_{{j}}" #answerValid_i_j="ngModel" ngModel required></ion-col>
                            <ion-col><input type="radio" value="false"  name="answerValid_{{i}}_{{j}}" #answerValid_i_j="ngModel" ngModel required></ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-grid>


            
        </div> 
        <!-- answer-wrapp -->
    </div>

    <div class="userInviteBox">
        <p>Tags</p>
        <div class="usertags">
        
            <ul>
                <li *ngFor="let tag of usertag; let t=index">{{tag}} <span (click)="removeTag(t)">X</span></li>
            </ul>

        </div>

        <div class="search">
                <p>Invite users!</p>
                <ion-searchbar (ionInput)="getItems($event)" (click)="showUsers()"></ion-searchbar>
                <ion-list class="list">
                    <ion-item *ngFor="let user of userList; let u=index">
                        
                        <h2 (click)="getKeyUSerInvited(user.key, user.value.fullname)"> <strong>{{ user.value.fullname }} </strong></h2>
                    </ion-item>
                </ion-list>
        </div>
       

    </div>
    
    <div class="btnOptionExam">

        <ion-buttons class="addBtn" (click)="add()">
                <button ion-button icon-only>
                        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
                </button>
        </ion-buttons>

        <ion-list>
            <ion-item>
                <button ion-button *ngIf="uploadSwitch" (click)="uploadWhenClick()" full color="danger" [disabled]="!form.valid" (click)="uploadAllImage()">Upload all images</button>
                <button *ngIf="!uploadSwitch" ion-button full [disabled]="!form.valid"  type="submit">Submit</button>
            </ion-item>
        </ion-list>      
    </div>
  </form>
</ion-content>
