page-trainer-header-modal {
    font-size: 18px;
}

$colorText : #27b504;
$fontSizeInput: 21px;
$colorBorder: #9ceda3;

.invite-row {
    p  {
        padding: 1em 0 0 0 ;
        font-weight: 400px;
    }
}
ion-grid {
    .title {
        ion-input {
            font-weight: 400px;
            font-size: 25px;
            background: #fff;
            padding: 4px;
            display: block;
            border: none;
            text-transform: uppercase
        }
        div {
            width: 100%;
            display: block;
            text-align: left;
            color: red;
            background: #fff;
            padding: 0 0 20px 0;
            border: none
        }
    }

    .settime,  {
        .label {
            padding: 27px 0 0 0;
            font-weight: bold;
            font-size: 21px;
            color: $colorText;
        }
        width: 100%;
        min-height: 60px;
        padding: 12px 0 0 0;
        font-size: 15px;
    }

    .totalTime,.passScore, .tag-row  {
        ion-label, p {
            font-weight: bold; 
            font-size: 21px;
            color: $colorText
        }
        ion-input {
            font-size: $fontSizeInput;
            font-weight: 350;
        }
        div {
            width: 100%;
            display: block;
            text-align: right;
            color: red
        }
    }

    .tag-row {
        width: 100%;
        min-height: 50px;
        ul {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                float: left;
                padding: 10px;
                border: solid .5px $colorBorder;
                border-radius: 15px 15px 15px 15px;
                margin-right: 9px;
                margin-bottom: 9px;
                margin-left: 7px;
                font-weight: 500;

                .remove {
                    margin-left: 7px;
                    border: solid 1px gray;
                    border-radius: 50%;
                    padding: 2px;
                }
            }
            
        }
    }
    .invite-row {
        p {
            font-weight: bold; 
            font-size: 21px;
            color: $colorText
        }
        .list {
            width: 100%;
            height: 180px;
            overflow: scroll
        }
    }
}