<!--
  Generated template for the TrainerHeaderModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>trainerHeaderModal</ion-title>
  </ion-navbar>
  <button ion-button color="light" small (click)="pop()" padding>Cancel</button>
</ion-header>


<ion-content padding>

  <form #form="ngForm" (ngSubmit)="headerForm(form)">

    <ion-grid>
      <ion-row class="title">
        <ion-input type="text" [ngModel]="data.title" name="title" required ngModel #title="ngModel" placeholder="Title"></ion-input>
        <div *ngIf="title.invalid && title.touched" class="alert alert-danger"> Required</div>
      </ion-row>

      <ion-row class="settime">
        <ion-col class="label">Settime</ion-col>
        <ion-col>
            <p>
                Time total: <input type="radio" value="timeTotal" [ngModel]="settimeVal" name="settime" #settime="ngModel" required ngModel>
            </p>
            
            <p>
                Time each: <input type="radio" value="timeEach" [ngModel]="settimeVal" name="settime" #settime="ngModel" required ngModel>
            </p>
        </ion-col>
        

        <div *ngIf="settime.invalid && settime.touched" class="alert alert-danger">  Required </div>
  
      </ion-row>

      <ion-row *ngIf="settime.value == 'totalTime'" class="totalTime">
        <ion-label>Total time</ion-label>
        <ion-input type="number" [ngModel]="data.totalTime" name="totalTime" #totalTime="ngModel" required ngModel placeholder="Unit as minutes (m)"></ion-input>
        <div *ngIf="totalTime.invalid && totalTime.touched" class="alert alert-danger"> Required </div>
      </ion-row>

      <ion-row class="passScore">
        <ion-label>Pass score</ion-label>
        <ion-input type="number" [ngModel]="data.passScore" name="passScore" #passScore="ngModel" required ngModel placeholder="Unit as percent (%)"></ion-input>
        <div *ngIf="passScore.invalid && passScore.touched" class="alert alert-danger"> Required </div>
      </ion-row>

      <ion-row class="tag-row">
        <ion-label>User invited</ion-label>

        <ul>
          <li *ngFor="let u of userName; let i=index">
            <span>{{u.fullname}}</span>
            <span (click)="removeUserInvited(u.userid, i)" class="remove">X</span>
          </li>
        </ul>
      </ion-row>

      <ion-row class="invite-row">
       
          <p>Invite users!</p>
          <ion-searchbar (ionInput)="getItems($event)" (click)="showUsers()"></ion-searchbar>
          <ion-list class="list">
              <ion-item *ngFor="let user of userList; let u=index">
                  
                  <h2 (click)="getUserInvited(user.userid, user.fullname)"> <strong>{{ user.fullname }} </strong></h2>
              </ion-item>
          </ion-list>
      </ion-row>

      <ion-row>
        <button ion-button color="danger" type="submit" [disabled]="!form.valid" small>Submit</button>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>
