<!--
  Generated template for the ExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"exam" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <h3 *ngIf="displaytimer && data.value.totalTime"> <ion-icon name="alarm"></ion-icon>&nbsp;{{displaytimer.displayTime}}</h3>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide class="swiper-no-swiping">
      <div class="examitem">
        <h2>{{data.value.title}}</h2>
        <h2 *ngIf="data.value.totalTime">{{"time" | translate}}: {{data.value.totalTime}}</h2>
        <h2 *ngIf="!data.value.totalTime">{{"time" | translate}}: {{totallimitTime}}</h2>
        <h2>{{data.value.question.length}} {{"questions" | translate}} </h2>
      </div>
      <button ion-button (click)="start()">{{"start" | translate}}</button>
    </ion-slide> 
       <ion-slide *ngFor="let question of data.value.question;let i=index;" class="swiper-no-swiping">
        
        <h3 *ngIf="displaytimer&&!data.value.totalTime"> <ion-icon name="alarm"></ion-icon>&nbsp;{{displaytimer.displayTime}}</h3>
        <div class="question">
          <h3>{{question.text}}&nbsp;?<p *ngIf="question.type=='checkbox'">{{"multi"|translate}}</p></h3>
        <div *ngIf="question.image!='ifany'" class="image"> <ion-img  src="{{question.image}}"></ion-img></div>
        </div>
        <ion-list no-lines radio-group class="listanswer">
            <ion-item *ngFor="let answer of question.answer;let i=index;" class="answer">
                <ion-label>{{i+1}}.&nbsp;{{answer.text}}</ion-label>
                <ion-radio *ngIf="question.type=='radio'" (click)="selectAnswer(answer,question)" [checked]="answer.selected" [disabled]="hasAnswered" ></ion-radio>
                <ion-checkbox value="i" *ngIf="question.type=='checkbox'" (click)="selectMultiAnswer(answer)" [checked]="answer.selected" [disabled]="hasAnswered" ></ion-checkbox>
            </ion-item>
        </ion-list>
        <button ion-button *ngIf="question.type=='checkbox'" (click)="resultMultiAnswer(question.text)">{{"submit" | translate}}</button> 
        <!-- <form #form="ngForm" *ngIf="question.type=='checkbox'" (ngSubmit)="selectMultiAnswer(form)">
            <ion-item *ngFor="let answer of question.answer;let i=index;" >
                <ion-label>{{i+1}}.{{answer.text}}</ion-label>
              <ion-checkbox   [checked]="answer.selected" [disabled]="hasAnswered" ></ion-checkbox>
                 <ion-input type="checkbox" name="manswer" ngModel #manswer="ngModel" checked="answer.selected" disabled="hasAnswered" >{{i+1}}.{{answer.text}}</ion-input> 
            </ion-item>
            <button ion-button type="submit" block>Add Todo</button>
          </form> -->
      
      </ion-slide> 
     <!-- <ion-slide class="swiper-no-swiping">
        <button ion-button full (click)="start()">{{"start" | translate}}</button>
      </ion-slide> 
      <ion-slide class="swiper-no-swiping">
        <h3>Exam 1</h3>
        <h3>{{"question" | translate}} 1</h3>
        <ion-list no-lines radio-group>
            <ion-item>
                <ion-label>{{"answer" | translate}} 1</ion-label>
                <ion-radio (click)="selectAnswer()" ></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{"answer" | translate}} 1</ion-label>
              <ion-radio (click)="selectAnswer()" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{"answer" | translate}} 1</ion-label>
            <ion-radio (click)="selectAnswer()" ></ion-radio>
        </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide class="swiper-no-swiping">
        <h3>Exam 2</h3>
        <h3>{{"question" | translate}} 2</h3>
        <ion-list no-lines radio-group>
            <ion-item>
                <ion-label>{{"answer" | translate}} 2</ion-label>
                <ion-radio (click)="selectAnswer()" ></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{"answer" | translate}} 2</ion-label>
              <ion-radio (click)="selectAnswer()" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{"answer" | translate}} 2</ion-label>
            <ion-radio (click)="selectAnswer()" ></ion-radio>
        </ion-item>
        </ion-list>
      </ion-slide> -->
      <ion-slide class="swiper-no-swiping">
          <h2>Final Score: {{score}} </h2>
          <h2>Time: {{testtime}}(s)</h2>
          <button (click)="restartQuiz()" ion-button color="primary">Submit</button>

      </ion-slide>

  </ion-slides>

</ion-content>
