page-exam {
text-align: center;

}
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yell:       #ece60d,
  templatexanh:#9494f8,
);
.examitem{
text-align: center;
margin-top: -35%;
margin-bottom: 10%;

}
.question{
    margin-top: -20%;
    margin-bottom: 10%;
}
.image>ion-img{
    margin-top: 10%;
    width: 50%;
    height: 14rem;
}

.listanswer{
    margin: 2% 13% 2% 5%;
   
}
.answer{
    background: color($colors,templatexanh);
    margin: 4% 5%;
    border-radius: 5px;
    color: color($colors,light);
    ion-checkbox{
        background: color($colors,templatexanh);
    }
}