page-signup {
    text-align: center;

}
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      white,
  dark:       #222,
  yell:       #ece60d,
  templatexanh:#9494f8,
);
$box:30%;


@-webkit-keyframes trainee{
0%{left :100%}
50%{left :50%}
80%{left:10%}
100%{left:20%}
}
@-webkit-keyframes trainer{
    0%{right :100%}
    50%{right :50%}
    80%{right:10%}
    100%{right:20%}
    }

.register{
    margin-top: 50%;
    text-align: center;
}
.trainer,.trainee{
    background: color($colors,yell);
    color: color($colors,templatexanh);
    width: 100%;
    border-radius: unset;
    margin: 5%;
    text-align: center;
}
.box-l{
    border-top: $box solid transparent;
  border-right: $box solid color($colors,yell);
  border-bottom: $box solid transparent;
  border-left: $box solid transparent;
  width: 0; height:0;
  position: relative;
  float: left;
  right:$box*2+$box/5;
}
.box-r{
    border-top: $box solid transparent;
  border-right: $box solid transparent;
  border-bottom: $box solid transparent;
  border-left:$box solid color($colors,yell);
  width: 0; height:0;
  position: relative;
  float: right;
  left:$box*2+$box/5;
}
.trainee{
    position: relative;
    left:20%;
    border-top-left-radius: $box/10;
    border-bottom-left-radius: $box/10;
    -webkit-animation-name: trainee; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    p{
        margin: 0;
        float: left;
        position: absolute;
        top:37%;
        left: 10%;
    }
}
.trainer{
    
    position: relative;
    right: 25%;
    border-top-right-radius: $box/10;
    border-bottom-right-radius: $box/10;
    -webkit-animation-name: trainer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    p{
        margin: 0;
        float: right;
        position: absolute;
        top:37%;
        left:80%;
    }
}
