<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"signup" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">

    
 <ion-img src="../assets/trainer.png"   (click)="registerForTrainer()" width="225px" height="225px" style="margin-bottom:20%"></ion-img>
 <ion-img src="../assets/trainee.jpg"   (click)="registerForTrainee()" width="200px" height="213px"></ion-img>

</ion-content>
