<!--
  Generated template for the TrainerEditModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar>
    
    <ion-title>TrainerEditModal</ion-title>
  </ion-navbar>
  <button ion-button color="light" small (click)="pop()" padding>Cancel</button>
</ion-header>


<ion-content padding>
  


  <form #form="ngForm" (ngSubmit)="editForm(form)">
    
      <h4>Question: {{qNumber+1}}</h4>

      <div class="question">

          <ion-grid>

            <ion-row *ngIf="questionData.image!='ifany'">
                    <img src="{{questionData.image}}" alt="{{questionData.text}}">
                    <button ion-button type="button" (click)="removeImg()" ion-only color="danger" small>Remove this image X</button>
            </ion-row>
            <ion-row *ngIf="questionData.image!='ifany'">
                    
            </ion-row>

            <ion-row>
                    <input type="file" accept="image/*" value="" id="questionImg" (change)="someChange()" name="questionImg"  ngModel #questionImg="ngModel">
            </ion-row>

            <ion-row>
                    <div class="img-viewer" padding>
                            <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
                    </div>
            </ion-row>

            <ion-row>
                    <ion-input type="text" [ngModel]="questionData.text" name="questionText" required ngModel #questionText="ngModel" placeholder="Question"></ion-input>
                    <div *ngIf="questionText.invalid && questionText.touched" class="alert alert-danger">
                            Required
                        </div>
            </ion-row>
          </ion-grid>
    
              <ion-grid>
                  <ion-row >
                      <ion-col><strong>Answers type</strong></ion-col>
                      <ion-col col-6>
                          Radio <input type="radio" value="radio" [ngModel]="questionData.type" name="answerType" #answerType="ngModel" ngModel required>
                          Checkbox <input type="radio" value="checkbox" [ngModel]="questionData.type" name="answerType" #answerType="ngModel" ngModel required>
                          <div *ngIf="answerType.invalid && answerType.touched" class="alert alert-danger">
                                  Required
                            </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>

              <ion-grid>
                  <ion-row *ngIf="examData.counterType=='timeEach'">
                    <ion-label fixed>Time</ion-label>
                    <ion-input type="number" [ngModel]="questionData.limitTime" name="answerSetTime" #answerSetTime="ngModel" ngModel required value="" placeholder="Unit as second (s)"></ion-input>
                    <span *ngIf="answerSetTime.invalid && answerSetTime.touched" class="alert alert-danger">
                          Required
                    </span>
                  </ion-row>
              </ion-grid>


              <ion-grid>
                  <ion-row *ngFor="let a of questionData.answer; let i = index">
                      <ion-col col-6>
                          <ion-input type="text" [ngModel]="a.text" name="answerText_{{i}}" #answerText_i="ngModel" ngModel required value="" placeholder="Text..."></ion-input>
                              <div *ngIf="answerText_i.invalid && answerText_i.touched" class="alert alert-danger">
                                      Required
                              </div>
                      </ion-col>
                      <ion-col>
                          <ion-row>
                              <ion-col><input type="radio"  value="true" [ngModel]="a.correct"  name="answerValid_{{i}}" #answerValid_i="ngModel" ngModel required></ion-col>
                              <ion-col><input type="radio" value="false" [ngModel]="a.correct" name="answerValid_{{i}}" #answerValid_i="ngModel" ngModel required></ion-col>
                          </ion-row>
  
                      </ion-col>
                  </ion-row>
              </ion-grid>
            
              
              <ion-grid>
                  <ion-row >
                    <ion-col><button *ngIf="!hasImg" [disabled]="!form.valid" ion-button type="submit" small color="danger">Submit</button></ion-col>
                    <button *ngIf="hasImg" [disabled]="!form.valid" ion-button color="danger" small (click)="uploadImage()">Upload image</button>
                  </ion-row>
              </ion-grid>
      </div>
  </form>
</ion-content>
