// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  yell:       #ece60d,
  templatexanh:#9494f8,
);
.bg-x{
    background-color: color($colors,templatexanh);
}
.title ,.title-ios{
    background-color: color($colors,templatexanh);
    
}

.toolbar-title, .toolbar-title-ios{
    color: color($colors,light);
}
.menu-select{
    border-radius:10px;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
    color: color($colors,light)
}
.user{
    margin-left: 33%;
}
.avarta {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: color($colors,yell);
    float: left;
    margin-left :10px;
  }
.datauser{
    padding:0;
}
  