<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
       
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <button menuClose ion-item class="datauser" *ngIf="userData">
        <div class="avarta"></div>
        <div class="user">
          <h2 *ngIf="fullname">{{userData.fullname}}</h2>
        <p *ngIf="username">{{userData.email}}</p>
        <p *ngIf="trainer">{{userLabel[userData.trainer]}}</p>
        </div>
      </button>
      <ion-item >
        <ion-label >{{"select" | translate}}</ion-label>
        <ion-select [(ngModel)]='lang' (ngModelChange)="changeLanguage($event)" class="menu-select" >
          <ion-option value="en">English</ion-option>
          <ion-option value="vi">Vietnamese</ion-option>
        </ion-select>
      </ion-item>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="md-{{p.icon}}"></ion-icon>	&nbsp;	&nbsp;{{p.title | translate}}
      </button>
      
      <button menuClose ion-item (click)="logout()"><ion-icon name="md-log-out"></ion-icon>	&nbsp;	&nbsp;{{"logout" | translate}}</button>
  
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>