page-login {

}
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      white,
  dark:       #222,
  yell:       #ece60d,
  cam:        #fcab2a,
  templatexanh:#9494f8,
);

.formlogin{
   // border: solid 0.1% color($colors,cam);
   margin: 50% 6%;
    text-align: center;
    background: color($colors,light);
    border-radius: 1%;
    padding: 5% 0;
    border: 1px solid color($colors,templatexanh);
}
.accimg{
    width: 30%;
    height: 16%;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 35%;
    background: color($colors, templatexanh);
    z-index: 1000;
    text-align: center;
}
.accimg>.icon{
    font-weight: normal;
    font-size: 675%;
    position: relative;
    top:5%;
    color: color($colors,light);
    
}
.acc{
    color: color($colors,light);
    text-align: center;
    position: absolute;
    top:7%;
    left:37%;
    font-size:143%;
}
.warn{
    margin: 0;
    padding: 0;
    font-size: 80%;
}    
    

.icon{
    font-weight: bold;
}
.formlogin { 
    .item-ios.item-block .item-inner {
        
        border-bottom: 0.51% solid #c8c7cc;
        padding: 0;
        margin: 8% 8%;
  }
    .login-email,.login-password{
        padding: 0;
        margin: 2%;
        .item-inner{
            margin: 0;
        }
       
    }

}
.loginbtn{
    width: 70%;
    padding: 3% 0;
    margin-bottom: 1%;
    font-size: 2rem;
    background-color: color($colors, templatexanh);
    color: color($colors,light);
    border-radius: 1%;
}
