<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>{{"login" | translate}}</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding *ngIf="!LoggedIn" class="bg-x">
  <span class="acc">My Account</span>
  
  <div class="form_wrapp formlogin">
      <div class="accimg"><ion-icon ios="ios-contact" md="md-contact" class="icon"></ion-icon></div>
    <form [formGroup]="form" (ngSubmit)="logIn()">
        <ion-list>
            <div class="login-email">
                <ion-item>
                    <ion-label > <ion-icon ios="ios-mail-outline" class="icon"></ion-icon></ion-label>
                    <ion-input type="email" formControlName="email" value="" placeholder="Email" autocomplete="off"></ion-input>
                  </ion-item>
                  <div  *ngIf="isValid('email')" class="warn">
                    Please enter your Email
                  </div>
            </div>
           <div class="login-password">
              <ion-item>
                  <ion-label > <ion-icon ios="ios-lock" class="icon"></ion-icon></ion-label>
                  <ion-input type="password" formControlName="password" value="" placeholder="Password" autocomplete="off"></ion-input>
              </ion-item>
  
              <div *ngIf="isValid('password')" class="warn">
                Please enter your password, password must to least 8 characters, one uppercase, one number and special character
              </div>
           </div>

          </ion-list>
          <button class="loginbtn" (click)="presentLoadingDefault()" type="submit" [disabled]="!form.valid">{{"login" | translate}}</button><br>
          <button ion-button color="danger" small (click)="signup()">{{"signup"| translate}}</button>
    </form>
  </div>  
</ion-content>
