<!--
  Generated template for the ResultListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"yourresult" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-grid>
    <ion-row class="xanh">
      <ion-col col-5>{{"yourxam"|translate}}</ion-col>
      <ion-col col-4>{{"yourscore"|translate}}</ion-col>
      <ion-col col-3>{{"result"| translate}}</ion-col>
    </ion-row>
    <ion-row *ngIf="data.value">
      <ion-col col-5>
        <p>{{"title"|translate}}: {{data.value.title}}</p>
        <p>{{"time"|translate}}: {{data.value.totalTime}}(s)</p>
        <p>{{"date"|translate}}: {{data.value.date}}</p>
      </ion-col>
      <ion-col col-4><p>{{result.score}}&nbsp;({{result.per}}%)</p></ion-col>
      <ion-col col-3><p>{{result.pass}}</p></ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
