page-result-list {

}

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      white,
  dark:       #222,
  yell:       #ece60d,
  cam:        #fcab2a,
  templatexanh:#9494f8,
);
.xanh{
    color: color($colors,templatexanh);
    font-weight: bold;
}