<!--
  Generated template for the TraineeListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"traineeList" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <button ion-button clear item-end (click)="toggleT()" class="btn">Comp</button>
  <button ion-button clear item-end (click)="toggleF()" class="btn">UnComp <div *ngIf="uc_items.length>0" class="tb">{{uc_items.length}}</div></button>
    <div class="com" *ngIf="tog">
      <ion-list class="list-item" >
       <ion-item-sliding #item *ngFor="let c_item of c_items">
        <ion-item >
          <h2 (click)="exam_c(c_item.key,c_item.value)">{{ c_item.value.title }}</h2>
          <p>{{ c_item.value.date }}</p>

          <p > Create by:<span *ngIf="getName(c_item.value.user)">{{ fullname }}</span></p>
          
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="view(c_item.key,c_item.value)">View Result</button>
       </ion-item-options>
       </ion-item-sliding>
      </ion-list>
    </div>
    <div class="ucom" *ngIf="!tog">
      <ion-list class="list-item" >
        <ion-item  *ngFor="let uc_item of uc_items">
          
              <h2 (click)="exam_uc(uc_item.key,uc_item.value)">{{ uc_item.value.title }}</h2>
              <p>{{ uc_item.value.date }}</p>

              <p > Create by:<span *ngIf="getName(uc_item.value.user)">{{ fullname }}</span></p>
         
          </ion-item>
          <ion-item *ngIf="uc_items.length==0">You have already done the exam</ion-item>
      </ion-list>
    </div>
</ion-content>
