page-trainee-list {

}
.list-ios > .item-block:first-child {
    border-top: none;
}
.btn{
    width: 49%;
    padding:0;
    margin: 0;
}
.tb{
    padding: 3%;
    border-radius: 50%;
    background: red;
    color: white;
    width: 24px;
    height: 25px;
    position: absolute;
    top: 35%;
    left: 70%;
}