<!--
  Generated template for the TranerUpdateExamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{examData.title}}</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>

    <ion-card (click)="headerEdit()">
      <ion-card-header>
       {{examData.title}}
      </ion-card-header>
      <ion-card-content>
        <p>Total time: {{examData.totalTime}}</p>
        <p>Pass Score: {{examData.passScore}}</p>
        <p>Date: {{examData.date}}</p>
      </ion-card-content>
    
    </ion-card>

    <ion-list>

        <ion-item-sliding  *ngFor="let item of examData.question; let q=index">
            <ion-item *ngIf="item" (click)="questionModal(item,q)">
                {{q+1}}. {{ item.text }}
            </ion-item>
           
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="removeThis(q)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
          
        <!-- <button ion-item *ngFor="let item of examData.question; let q=index" (click)="questionModal(item,q)">
          {{q+1}}. {{ item.text }}
        </button>   -->
    </ion-list>

    <ion-grid class="plus-row">
      <ion-row>
          <button ion-button small ion-only (click)="questionPlus()"><ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></button>
      </ion-row>
    </ion-grid>
    
</ion-content>
