<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"home" | translate}} </ion-title>
   
    
  </ion-navbar>
</ion-header>

<ion-content padding>
        <h1>WELLCOME TO SURVEY APP</h1>

        <div *ngIf="userData.trainer=='0'" class="trainee-box">
            <h2 >Trainee</h2>
            <img src="assets/trainee.jpg" alt="Trainee" class="trainee-img">
            <ion-grid>
              <ion-row>
                <ion-col col-1><button ion-button small><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></button></ion-col>
                <ion-col> For the trainer you have tasks</ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-1><button ion-button small><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></button></ion-col>
                  <ion-col> Such as taking tests that your trainer invites you to do</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-1><button ion-button small><ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></button></ion-col>
                    <ion-col> Reviewing the assessment results on the system to 
                        see how much you have completed in the test.</ion-col>
                  </ion-row>
            </ion-grid>
           

          

            <button ion-button full (click)="listexam()">
                <ion-icon ios="ios-albums" md="md-albums"></ion-icon>
                {{"listexam" | translate}}
            </button>
        </div>
        
        <div *ngIf="userData.trainer=='1'" class="trainer-box">
            <h2 >Trainer</h2>
            <img src="assets/trainer.png" alt="Trainee" class="trainer-img">
            
            <button ion-button full (click)="listtrainer()">
              {{"TrainerList" | translate}}</button>
        </div>
       
       

      
 
</ion-content>
