page-home {
    h1 {
        font-weight: bold;
        text-align: center;
        padding: 17px 0;
    }
}
.trainee-box {
    width: 100%;
    min-height: 50px;
    h2 {
        font-weight: bold;
        font-size: 25px;
        text-align: center
    }
    .trainee-img {
        width: 80%;
        height: auto;
        margin-left: 39px
    }
    ion-grid {
        ion-row {
            ion-col {
                padding: 0 20px;
            }
            padding: 15px 0;
        }
    }
}

.trainer-box {
    h2 {
        font-weight: bold;
        font-size: 25px;
        text-align: center
    }
    img {
        width: 80%;
        border: solid 2px #ffffff;
        border-radius: 50%;
        margin-left: 39px;
    }
}