<!--
  Generated template for the TraineeRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{"trainee_register" | translate}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <div>
      <h3>Register to SurveyApp</h3>
    </div>
  
    <div class="form_wrapp">
      <form [formGroup]="form" (ngSubmit)="traineeForm()">
          <ion-list>
  
              <ion-item>
                <ion-label fixed>Fullname</ion-label>
                <ion-input type="text" formControlName="fullname" value=""></ion-input>
              </ion-item>
              <div padding *ngIf="isValid('fullname')">
                <ion-chip color="danger">
                  <ion-label>Please enter your name</ion-label>
                </ion-chip>
              </div>
  
  
              <ion-item>
                <ion-label fixed>Email</ion-label>
                <ion-input type="email" formControlName="email" value=""></ion-input>
              </ion-item>
  
              <div padding *ngIf="isValid('email')">
  
                  <ion-chip color="danger">
                      <ion-label>Please enter your Email</ion-label>
                    </ion-chip>
              </div>
  
              <ion-item>
                  <ion-label fixed>Password</ion-label>
                  <ion-input type="password" formControlName="password" value=""></ion-input>
              </ion-item>
  
  
              <div padding *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
              
                <ion-chip color="danger">
                    <ion-label>Please enter your password</ion-label>
                  </ion-chip>
              </div>
  
              <div padding *ngIf="form.controls['password'].hasError('pattern') && form.controls['password'].touched">
                <ion-chip color="danger">
                    <ion-label>Please enter least 8 characters and least a uppercase, a number, a special character</ion-label>
                </ion-chip>
              </div> 
  
            
  
              <ion-item>
                  <ion-label fixed>Re_password</ion-label>
                  <ion-input type="password" formControlName="re_password" value=""></ion-input>
              </ion-item>
              
              <div padding *ngIf="isValid('re_password')">
                <ion-chip color="danger">
                    <ion-label>Please enter  Re_password</ion-label>
                </ion-chip>
              </div>
  
              <div padding *ngIf="show">
                <ion-chip color="danger">
                    <ion-label>Password difference password confirm</ion-label>
                </ion-chip>
              </div>
  
  
            </ion-list>
            <button ion-button [disabled] = "!form.valid"type="submit">Submit</button>
      </form>
    </div>  
  </ion-content>
  
